body {
    background-color: #0b0f19;
    color: #00ffe7;
}

.stApp {
    background: linear-gradient(
        135deg,
        #0b0f19,
        #111827
    );
    color: #00ffe7;
}

h1, h2, h3 {
    color: #00ffe7 !important;
    text-shadow: 0 0 10px #00ffe7;
}

[data-testid="metric-container"] {
    background-color: #111827;
    border: 1px solid #00ffe7;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 12px #00ffe7;
}

.stButton>button {
    background-color: #00ffe7;
    color: black;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.stButton>button:hover {
    background-color: #00c8b3;
    color: white;
}

section[data-testid="stSidebar"] {
    background-color: #111827;
}